<div class="jumbotron">
  <p>This shows how an unactivated user could supply infomation to complete a sign up flow</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">

      <div class="alert alert-danger message" role="alert">
      </div>

      <%= form_tag("/activate", method: "post", class: 'signup-form') do %>
        <div class="form-group">
          <label for="email">Email</label>
          <%= text_field_tag :email, nil, placeholder: 'Email Address', class: 'form-control' %>
        </div>
        <div class="form-group">
          <label for="custom_dob">Date of Birth</label>
          <%= text_field_tag :custom_dob, nil, placeholder: 'mm/dd/yyyy', class: 'form-control' %>
        </div>
        <div class="form-group">
          <label for="custom_ssn">Last 4 of SSN</label>
          <%= text_field_tag :custom_ssn, nil, placeholder: 'Last 4 of SSN', class: 'form-control' %>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <%= password_field_tag :password, nil, placeholder: 'Make up a password', class: 'form-control' %>
        </div>
        <button type="submit" class="btn btn-primary">Activate Account</button>
      <% end %>

    </div>
    <div class="col-sm">
    </div>
  </div>
</div>


<script type="text/javascript">
  function showAlert(type, message){
    $(".message").removeClass("alert-danger").removeClass("alert-success");
    $(".message").addClass("alert-" + type).text(message).show();
    $(".message").show();
  }
  function hideAlert(){
    $(".message").hide();
  }

  $(function(){
    hideAlert();
  })
</script>
