<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user.id) %> |
<%= link_to 'Back', users_path %>

<h2>Profile</h2>

<%@user.instance_values.symbolize_keys.each do |k, v|%>
  <div class="row">
    <span><%= k%>:</span> <%= v%>
  </div>
<%end%>