<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user.id) %> |
<%= link_to 'Back', users_path %>

<h2>Profile</h2>

<ul class="list-group">
<%@user.instance_values.symbolize_keys.each do |k, v|%>
  <li class="list-group-item">
    <b><%= k%>:</b> <%= v%>
  </li>
<%end%>
</ul>