<div class="jumbotron">
  <h1>Dashboard</h1>
  <p>
    You must be authenticated to see this page so if you're seeing it then
    everything worked as expected 🎉
  </p>
  <p>
    <a href="/users">List Users</a> | <a href="/logout">Log Out</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Apps</h2>
      <ul class="list-group">
      <%@apps.each do |app|%>
        <li class="list-group-item"><a href="https://<%= ONELOGIN_SUBDOMAIN %>.onelogin.com/launch/<%= app.id %>"><%= app.name %></a></li>
      <%end%>
      </ul>
    </div>
    <div class="col-sm">
      <h2>Roles</h2>
      <ul class="list-group">
      <%@roles.each do |role|%>
        <li class="list-group-item"><%= role.name %></li>
      <%end%>
      </ul>

      <br/>

      <h2>Profile</h2>
      <ul class="list-group">
        <%current_user.each do |k, v|%>
          <li class="list-group-item">
            <b><%= k%>:</b> <%= v%>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>








